.intro-screen {
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-logo {
  color: #e50914;
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 6px;
  animation: zoomFade 3s ease-in-out;
}

@keyframes zoomFade {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  40% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.intro-btn {
  margin-top: 30px;
  padding: 12px 28px;
  font-size: 16px;
  background: transparent;
  border: 1px solid #e50914;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}


.intro-video-wrapper {
  width: 100vw;
  height: 100vh;
  background: black;
  overflow: hidden;
}

.intro-video-wrapper iframe {
  width: 100%;
  height: 100%;
}
.intro-container {
  width: 100vw;
  height: 100vh;
  background: black;
  overflow: hidden;
}

.intro-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sound-overlay {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0.8;
  animation: pulse 1.5s infinite;
  pointer-events: none;
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
