.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 1000;
}

.logo {
  color: #e50914;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 2px;
}


